
@font-face {
	font-family: 'gilroyextrabold';
	src: url('../fonts/gilroyextrabold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'gilroylight';
	src: url('fonts/gilroylight.woff2') format('woff2');
	font-weight: lighter;
	font-style: normal;
}

html { 
	box-sizing: border-box; 
}
*, *::before, 
*::after { 
	box-sizing: inherit; 
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.popup-write-us label {
	font-family: "gilroyextrabold", Arial, sans-serif;
}

.button {
	font-family: "gilroyextrabold", Arial, sans-serif;;

	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 0.2em;

	border: none;
	background-color: #ffffff;
}


.button:hover,
.button:focus {
	background-color: rgb(240, 197, 46);
}

.button:active {
	background-color: rgb(240, 197, 46);
	opacity: 0.3;
}

input [type="text"]:focus {
	border: 2px solid rgb(247, 226, 150);
}

.main-header a:hover, 
.main-header a:focus {
	opacity: 0.6;
}

.main-header a:active {
	opacity: 0.3;
}

.main-navigation {
	font-size: 15px;
	font-height: 30px;
}

.user-navigation,
.site-navigation,
.site-navigation>li>ul {
	list-style: none;
}

.user-navigation a,
.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active {
	opacity: 0.3;
}

.site-navigation {
	font-family: "gilroyextrabold", Arial, sans-serif;
}

.site-navigation>li>ul {
	font-family: "Open sans", Arial, sans-serif;
}


.slider h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
}

.slider p {
	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}

.slider table td {
	font-size: 13px;
	line-height: 20px;
	opacity: 0.6;
}

.slider table th {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
}

.page-product ul {
	list-style: none;
}

.page-product p {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.page-product a:hover,
.page-product a:focus {
	background-color: rgb(240, 197, 46);
}

.page-product a:active {
	background-color: rgb(240, 197, 46);
	opacity: 0.3;
}

.page-conditions ul {
	list-style: none;
	text-transform: uppercase;
}

.page-conditions a {
	font-family: "gilroyextrabold", Arial, sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 24px;

}

.page-conditions a:hover,
.page-conditions a:focus {
	background-color: rgb(240, 197, 46);
}

.page-conditions a:active {
	background-color: #000000;
	color: rgb(247, 225, 132);
}

.page-conditions h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
}

.page-conditions p {
	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}


.info-about-as h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
}

.info-about-as p {
	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}

.info-about-as ul {
	font-family: "gilroyextrabold", Arial, sans-serif;
}

.contacts h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px
}

.contacts p {
	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}

.page-footer {
	background-color: rgb(70,70,70);
	color: #ffffff;
}

.footer-user-navigation,
.footer-nav,
.social-btn {
	list-style: none;
}

.footer-user-navigation a,
.footer-nav a,
.social-btn a {
	color: #ffffff;
}

.page-footer a:hover,
.page-footer a:focus {
	opacity: 0.6;
}

.page-footer a:active {
	opacity: 0.3;
}

.footer-nav {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
}

.page-footer p {
	font-family: "Open sans lighter", Arial, sans-serif;

}

	
/*Стили для страници каталога*/

.page-title {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
}

.breadcrumbs a {
	color: #000000;
}

.container ul {
	list-style: none;
}


.breadcrumbs li:hover,
.breadcrumbs li:focus {
	opacity: 0.6;
}

.breadcrumbs li:active {
	opacity: 0.1;
}

.breadcrumbs li {
	font-family: "Open sans lighter", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	opacity: 0.3;
}

.filters h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
}

.filters b {
	font-family: "gilroyextrabold", Arial, sans-serif;
}

.filters label {
	font-family: "Open sans lighter", Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
}

/*.filters input [type="checkbox"]:hover,
.filters input [type="checkbox"]:focus {

}

.filters input [type="checkbox"]:active {

}

*/

.catalog h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.2em;
}

.catalog h1 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0,01em;
}

.catalog li {
	list-style: none;
	color: #000000;
}


.catalog a {
	color: #000000;
}

.catalog  li:hover,
.catalog  li:focus {
	opacity: 0.6;
}

.catalog  li:active {
	opacity: 0.1;
}

.catalog span {
	font-family: "gilroylight", "Arial", sans-serif
	font-size: 16px;
	line-height: 24px;
	opacity: 0.6;
}

.pagination-back a:hover,
.pagination-back a:focus {
	opacity: 0.6;
}

.pagination-back a:active {
	opacity: 0.3;
}