
@font-face {
	font-family: 'gilroyextrabold';
	src: url('../fonts/gilroyextrabold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'gilroylight';
	src: url('fonts/gilroylight.woff2') format('woff2');
	font-weight: lighter;
	font-style: normal;
}

html { 
	box-sizing: border-box; 
}
*, *::before, 
*::after { 
	box-sizing: inherit; 
}

body {
	margin: 0;
	padding: 0;


	font-family: "Open sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.popup-write-us label {
	font-family: "gilroyextrabold", Arial, sans-serif;
}


.button {
	font-family: "gilroyextrabold", Arial, sans-serif;;

	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 0.2em;

	border: none;
	background-color: #ffffff;
}

.popup-write-us {
	display: none;
}

.popup-map {
	display: none;
}

.button:hover,
.button:focus {
	background-color: rgb(240, 197, 46);
}

.button:active {
	background-color: rgb(240, 197, 46);
	opacity: 0.3;
}

input [type="text"]:focus {
	border: 2px solid rgb(247, 226, 150);
}

.main-header {
	margin: 0 auto;
	padding: 0 60px;
	margin-top: 40px;

	width: 1160px;

	background-color: rgb(247, 226, 150);
}

.main-header-logo img {
	position: absolute;
	top: 23px;
}

.user-navigation {
	margin: 20px 0 20px 0;
	padding-top: 50px;

	width: 1040px;

	display: flex;
}

.user-navigation li:first-child {
	margin-right: auto;
}

.user-navigation li:nth-child(2) {
	margin-right: 110px;
}

.user-navigation li:nth-child(3) {
	margin-right: 35px;
}

.user-navigation li:last-child {
	align-self: flex-end;
}

.site-navigation {
	margin: 0;
	padding: 0;

	width: 1040px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.site-navigation>li {
	margin-right: auto;
}

.site-navigation>li:nth-child(2) {
	margin-right: 35px;
}

.site-navigation>li:nth-child(3) {
	margin-right: 110px;
}

.site-navigation>li:last-child {
	margin-right: 0;
}


.site-navigation ul {
	margin: 0;
	padding: 0;
	padding-top: 20px;

	width: 600px;

	display: flex;
	flex-wrap: wrap;
}

.site-navigation ul li {
	padding-right: 50px;
}

.site-navigation ul li:nth-child(4) {
	padding-right: 77px;
}
.site-navigation ul li:nth-child(5) {
	padding-right: 140px;
}
.site-navigation ul li:nth-child(6) {
	padding-bottom: 40px;
}

.site-navigation ul {
	visibility: hidden;
}

.main-header a:hover, 
.main-header a:focus {
	opacity: 0.6;
}

.main-header a:active {
	opacity: 0.3;
}

.main-navigation {
	font-size: 15px;
	font-height: 30px;
}

.user-navigation,
.site-navigation,
.site-navigation>li>ul {
	list-style: none;
}


.user-navigation a,
.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active {
	opacity: 0.3;
}

.site-navigation {
	text-transform: uppercase;
	font-family: "gilroyextrabold", Arial, sans-serif;
}

.site-navigation>li>ul {
	font-family: "Open sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
}

.slider:nth-child(2),
.slider:nth-child(3) {
	display: none;
}
 
.slider {
	margin: 0 auto;
	padding: 0;
	margin-top: -110px;

	width: 1010px;	

	display: flex;
	justify-content: flex-end;
}

.slider:nth-child(3) {
	width: 1076px;
}

.slider:nth-child(2) {
	width: 990px;
} 

.slider .slider-photo {
	margin-right: 150px;
}

.slider:nth-child(2) .slider-photo {
	margin-right: 190px;
}

.slider:nth-child(3) .slider-photo {
	margin-top: 65px;
	margin-right: 10px;
}



.slider .slider-content {
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}



.slider h2 {
	margin: 0;
	padding: 0;
	margin-top: 80px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
}


.slider p {
	margin: 0;
	padding: 0;
	margin-top: 35px;
	margin-bottom: 55px;

	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}


.slider-content table {
	margin-top: 65px;

	display: flex;
	flex-direction: column;
}

.slider-content tr {
	display: flex;
	align-items: space-between;
}
.slider table td {
	margin: 0;
	padding: 0;
	margin-right: 61px;

	font-size: 13px;
	line-height: 20px;
	opacity: 0.6;
}

.slider table th {
	margin: 0;
	padding: 0;
	margin-right: 60px;


	font-family: "gilroylight", Arial, sans-serif;
	font-weight: lighter;
	font-size: 36px;
	line-height: 48px;
}

.slider:last-child table td {
	margin-right: 40px;
}

.visibility-hidden {
	display: none;
}

.page-product {
	margin: 0 auto;
	margin-top: 105px;
	margin-bottom: 184px;

	width: 1160px;
}

.page-product ul {
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
}

.page-product ul a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 160px;
	height: 160px;

	background-color: rgb(247,226, 150);
}

.page-product p {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.page-product a:hover,
.page-product a:focus {
	background-color: rgb(240, 197, 46);
}

.page-product a:active {
	background-color: rgb(240, 197, 46);
	opacity: 0.3;
}

/*Блок услуги*/

.page-conditions {
	width: 1440px;

	margin: 0;
	margin-bottom: 94px;
	padding: 0;

	background-color: rgb(229, 229, 229);
}

.page-conditions .wrapper {
	margin: 0 auto;
	padding: 0 10px 0 10px;

	width: 1160px;

	display: flex;
}

.conditions-menu {
	margin-top: -20px;
	margin-right: 115px;

	width: 300px;


	display: flex;
	flex-direction: column;
}

.conditions-menu li {
	margin-bottom: 35px;
	text-align: left;
	padding-top: 5px;
	padding-left: 10px;
}

.conditions-menu li:active {
	width: 268px;
	height: 40px;
	background-color: #000000;
	color: rgb(247, 225, 132); 
}

.page-credit,
.page-guarantee  {
	display: none;
}



.slider-conditions .delivery-content {
	margin: 0;
	padding: 0;

	width: 760px;

	display: flex;
	flex-wrap: wrap;
}

.slider-conditions .guarantee-content{
	margin: 0;
	padding: 0;

	width: 760px;

	display: flex;
	align-content: flex-end;
	flex-wrap: wrap;
}

.slider-conditions .credit-content{
	margin: 0;
	padding: 0;

	width: 760px;

	display: flex;
	align-content: flex-end;
	flex-wrap: wrap;
}

.slider-conditions h2 {
	margin-right: 200px;
	margin-top: -30px;
}

.slider-conditions p {
	margin-top: -10px;
	margin-right: 120px;
}

.slider-conditions img {
	margin-top: -80px;
}


.page-conditions ul {
	list-style: none;
	text-transform: uppercase;
}

.page-conditions a {
	font-family: "gilroyextrabold", Arial, sans-serif;
	color: #000000;
	font-size: 18px;
	line-height: 24px;

}

.page-conditions a:hover,
.page-conditions a:focus {
	background-color: rgb(240, 197, 46);
}

.page-conditions a:active {
	background-color: #000000;
	color: rgb(247, 225, 132);
}

.page-conditions h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
}

.page-conditions p {
	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}

.partners {
	margin: 0 auto;
	padding: 0;

	width: 1157px;
}

.partners ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.wrapper-info-contacts {
	margin: 0 auto;
	margin-top: 125px;

	display: flex;
	justify-content: space-between;

	width: 1160px;
}

.wrapper-info-contacts a {
	margin-top: 75px;
}

.info-about-as {
	padding: 0;
	margin: 0;

	width: 463px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.info-about-as h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
}

.info-about-as p {
	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}

.info-about-as ul {
	margin-top: 70px;
	font-family: "gilroyextrabold", Arial, sans-serif;
}

.contacts {
	margin: 0;
	padding: 0;

	width: 561px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.contacts h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px
}

.contacts p {

	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}

.page-footer {
	margin: 0;
	padding: 0;

	width: 1440px;

	background-color: rgb(70,70,70);
	color: #ffffff;
}

.page-footer .wrapper {
	margin: 0 auto;
	margin-top: 90px;
	padding: 60px 10px 40px 10px;

	width: 1160px;

	display: flex;
	flex-wrap: wrap;
}

.page-footer .wrapper-logo {
	width: 300px;
	margin-right: 60px;

	display: flex;
	flex-direction: column;
} 

.page-footer .wrapper-site-nav {
	margin-top: 45px;
	width: 440px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-nav {
	display: flex;
	justify-content: space-between;
}

.footer-nav li {
	margin-right: 20px;
}

.social-btn {
	display: flex;
	justify-content: space-between;
}

.social-btn li {
	margin-right: 20px;
}

.footer-user-navigation {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	width: 340px;
}

.footer-user-navigation ul{
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.footer-user-navigation li {
	margin-left: 45px;
}

.footer-user-navigation p {
	margin-top: -30px;
}


.footer-user-navigation,
.footer-nav,
.social-btn {
	list-style: none;
}

.footer-user-navigation a,
.footer-nav a,
.social-btn a {
	color: #ffffff;
}

.page-footer a:hover,
.page-footer a:focus {
	opacity: 0.6;
}

.page-footer a:active {
	opacity: 0.3;
}

.footer-nav {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
}

.page-footer p {
	font-family: "Open sans lighter", Arial, sans-serif;

}

	
/*Стили для страници каталога*/

.page-title {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
}

.breadcrumbs a {
	color: #000000;
}

.container ul {
	list-style: none;
}


.breadcrumbs li:hover,
.breadcrumbs li:focus {
	opacity: 0.6;
}

.breadcrumbs li:active {
	opacity: 0.1;
}

.breadcrumbs li {
	font-family: "Open sans lighter", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	opacity: 0.3;
}

.filters h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
}

.filters b {
	font-family: "gilroyextrabold", Arial, sans-serif;
}

.filters label {
	font-family: "Open sans lighter", Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
}

/*.filters input [type="checkbox"]:hover,
.filters input [type="checkbox"]:focus {

}

.filters input [type="checkbox"]:active {

}

*/

.catalog h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.2em;
}

.catalog h1 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0,01em;
}

.catalog li {
	list-style: none;
	color: #000000;
}


.catalog a {
	color: #000000;
}

.catalog  li:hover,
.catalog  li:focus {
	opacity: 0.6;
}

.catalog  li:active {
	opacity: 0.1;
}

.catalog span {
	font-family: "gilroylight", "Arial", sans-serif
	font-size: 16px;
	line-height: 24px;
	opacity: 0.6;
}

.pagination-back a:hover,
.pagination-back a:focus {
	opacity: 0.6;
}

.pagination-back a:active {
	opacity: 0.3;
}