
@font-face {
	font-family: 'gilroyextrabold';
	src: url('../fonts/gilroyextrabold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'gilroylight';
	src: url('../fonts/gilroylight.woff2') format('woff2');
	font-weight: lighter;
	font-style: normal;
}

html { 
	box-sizing: border-box; 
}
*, *::before, 
*::after { 
	box-sizing: inherit; 
}

body {
	margin: 0;
	padding: 0;


	font-family: "Open sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visibility-hidden:not(:focus):not(active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.popup-write-us label {
	font-family: "gilroyextrabold", Arial, sans-serif;
}



.button {
	padding: 0;
	padding-top: 7px;
	padding-bottom: 7px;

	width: 220px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 0.2em;
	font-size: 18px;
	line-height: 24px;

	background-image: linear-gradient(to bottom, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
	border: none;
	outline: none;
	cursor:pointer;
}

.wrapper-info-contacts .button {
	width: 260px;
	letter-spacing: 0.2em;
}

.button:hover,
.button:focus {
	background-color: #f0c52e;
	background-image: none;
	opacity: 1;	
}

.button:active {

	opacity: 0.3;
}
.popup-write-us {
	display: none;
}

.popup-map {
	display: none;
}



input [type="text"]:focus {
	border: 2px solid rgb(247, 226, 150);
}

.main-header {
	margin: 0 auto;
	padding: 0 60px;
	margin-top: 40px;

	width: 1160px;

	background-color: rgb(247, 226, 150);
}

.main-header-logo img {
	position: absolute;
	top: 23px;
}

.user-navigation input[type="search"] {
	background-color: rgb(247, 226, 150);
	border: none;
}

.user-navigation {
	margin: 20px 0 20px 0;
	padding-top: 43px;

	width: 1040px;

	position: relative;

	display: flex;
}
.user-navigation li {
	margin-right: 20px;

	position: relative;
}

.user-navigation li:first-child {
	margin-right: auto;
}

.user-navigation li:nth-child(2) {
	margin-right: 236px;
}

.user-navigation li:nth-child(3) {
	margin-right: 61px;
}

.user-navigation li:last-child {
	align-self: flex-end;
	margin-right: 0;
}

.user-navigation li:first-child::before {
	content: url("../img/search.svg");

	position: absolute;
	left: -40px;
	top: 3px;

	width: 16px;
	height: 16px;
}
 
.log-in::before {
	content: url("../img/user.svg");

	position: absolute;
	right: 57px;

	width: 13px;
	height: 12px;
}

.compare::before {
	content: url("../img/compare.svg");

	position: absolute;
	right: 90px;

	width: 10px;
	height: 10px;
}

.basket::before {
	content: url("../img/cart.svg");

	width: 12px;
	height: 12px;
	position: absolute;
	right: 70px;
}

.site-navigation {
	margin: 0;
	margin-top: 36px;
	padding: 0;

	width: 1040px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.site-navigation>li {
	letter-spacing: 0.2em;
	margin-right: -72px;

	position: relative;
}

.site-navigation>li:nth-child(2) {
	margin-right: 30px;
}

.site-navigation>li:nth-child(3) {
	margin-right: 102px;
}

.site-navigation>li:last-child {
	margin-right: -4px;
}

.drop-menu::after {
	content: url("../img/plus.svg");

	position: absolute;
	left: 230px;
	top: 1px;

	opacity: 0.3;
}

.site-navigation ul {
	margin: 0;
	padding: 0;
	padding-top: 36px;
	padding-bottom: 36px;

	width: 600px;
	background-color: rgb(247, 226, 150);

	display: flex;
	flex-wrap: wrap;

	letter-spacing: 0;

	position: relative;
	z-index: 1;
}


.site-navigation ul li {
	padding-right: 36px;
}

.site-navigation ul li:nth-child(1) {
	padding-right: 59px;
}
.site-navigation ul li:nth-child(2) {
	padding-right: 77px;
}
.site-navigation ul li:nth-child(3) {

}
.site-navigation ul li:nth-child(4) {
	padding-right: 85px;
}

.site-navigation ul li:nth-child(5) {
	padding-right: 170px;
}


.sub-menu {
	visibility:  hidden;
}

.site-navigation .drop-menu:hover+.sub-menu {
	visibility: visible;
	position: relative;
	z-index: 1;
}

.sub-menu:hover {
	visibility: visible;
	background-color: rgb(247, 226, 150);
}


.main-header a:hover, 
.main-header a:focus {
	opacity: 0.6;
}

.main-header a:active {
	opacity: 0.3;
}

.main-navigation {
	font-size: 15px;
	line-height: 30px;
	font-weight: lighter;
}

.user-navigation,
.site-navigation,
.site-navigation>li>ul {
	list-style: none;
}


.user-navigation a,
.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active {
	opacity: 0.3;
}

.site-navigation {
	text-transform: uppercase;
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.site-navigation>li>ul {
	font-family: "Open sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
}

.slider:nth-child(3),
.slider:nth-child(2) {
	display: none;
}
 
.slider {
	margin: 0 auto;
	padding: 0;
	margin-top: -110px;

	width: 1010px;	

	display: flex;
	justify-content: flex-end;

	position: relative;
}

.slider:nth-child(3) {
	width: 1076px;
}

.slider:nth-child(2) {
	margin-top: -103px;
	width: 990px;
} 

.slider .slider-photo {
	margin-right: 150px;
}

.slider:nth-child(2) .slider-photo {
	margin-right: 190px;
}

.slider:nth-child(3) .slider-photo {
	margin-top: 65px;
	margin-right: 43px;
}


.slider .slider-content {
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.slider-btn {
	display: flex;
}

.slider-btn a {
	margin-right: 170px;
}


.slider h2 {
	margin: 0;
	padding: 0;
	margin-top: 80px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	z-index: 2;
}


.slider p {
	margin: 0;
	padding: 0;
	margin-top: 35px;
	margin-bottom: 55px;

	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}


.slider-content:before {
	content: url("../img/white-line.svg");

	position: absolute;
	top: 20px;
}

.slider:first-child .slider-photo:before {
	content: url("../img/01.png");

	position: absolute;
	right: -15px;
	top: 6px;
}

.slider:nth-child(2) .slider-photo:before {
	content: url("../img/02.png");

	position: absolute;
	right: 0;
}

.slider:last-child .slider-photo:before {
	content: url("../img/03.png");

	position: absolute;
	right: 12px;
	top: 8px;
}


.slider-content table {
	margin-top: 65px;

	display: flex;
	flex-direction: column;
}

.slider-content tr {
	display: flex;
}
.slider table td {
	margin: 0;
	padding: 0;
	margin-right: 61px;

	font-size: 13px;
	line-height: 20px;
	opacity: 0.6;
}

.slider table th {
	margin: 0;
	padding: 0;
	margin-right: 60px;


	font-family: "gilroylight", Arial, sans-serif;
	font-weight: lighter;
	font-size: 36px;
	line-height: 48px;
}

.slider:last-child table td {
	margin-right: 40px;
}




.page-product {
	margin: 0 auto;
	margin-top: 105px;
	margin-bottom: 184px;

	width: 1160px;
}

.page-product ul {
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
}

.page-product ul a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 160px;
	height: 160px;

	background-color: rgb(247,226, 150);
}

.page-product p {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
}

.page-product a:hover,
.page-product a:focus {
	background-color: rgb(240, 197, 46);
}

.page-product a:active {
	background-color: rgb(240, 197, 46);
	opacity: 0.3;
}

/*Блок услуги*/

.page-conditions {
	margin: 0;
	margin-bottom: 94px;
	padding: 0;

	position: relative;

	background-color: rgb(229, 229, 229);
}

.page-conditions .wrapper {
	margin: 0 auto;
	padding: 0 10px 0 10px;

	width: 1160px;

	display: flex;
}

.conditions-menu::after {
	content: url("../img/black-line-long.svg");

	position: absolute;
	left: 360px;
	top: -100px;
}





.conditions-menu {
	margin-top: -20px;
	margin-right: 115px;
	margin-left: -50px;
	padding-bottom: 105px;

	width: 300px;


	display: flex;
	flex-direction: column;
}


.slider-conditions .delivery-content {
	margin: 0;
	padding: 0;

	width: 760px;

	display: flex;
	flex-wrap: wrap;
}

.slider-conditions .guarantee-content{
	margin: 0;
	padding: 0;

	width: 760px;

	display: flex;
	align-content: flex-end;
	flex-wrap: wrap;
}

.slider-conditions .credit-content{
	margin: 0;
	padding: 0;

	width: 760px;

	display: flex;
	align-content: flex-end;
	flex-wrap: wrap;
}

.slider-conditions h2 {
	margin-right: 200px;
	margin-top: -30px;
}

.slider-conditions p {
	margin-top: -10px;
	margin-right: 120px;
}

.slider-conditions img {
	margin-top: -80px;
}


.page-conditions ul {
	list-style: none;
	text-transform: uppercase;
}


.page-conditions h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
}

.page-conditions p {
	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}


.slider-conditions {
	display: none;
}

#delivery:checked ~ .slider-conditions .page-delivery,
#guarantee:checked ~ .slider-conditions .page-guarantee
#credit:checked ~ .slider-conditions .page-credit {
	display: block;
}


/*партнеры*/

.partners {
	margin: 0 auto;
	padding: 0;

	width: 1157px;
}

.partners ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

/*информация и контакты*/

.info-about-as:before,
.contacts:before {
	content: url("../img/black-short-line.svg");

	position: absolute;
	top: -28px;

}

.wrapper-info-contacts {
	margin: 0 auto;
	margin-top: 97px;
	padding-bottom: 86px;

	display: flex;
	justify-content: space-between;

	position: relative;

	width: 1160px;
}

.wrapper-info-contacts a {
	margin-top: 75px;
}

.info-about-as {
	padding: 0;
	margin: 0;

	width: 463px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.info-about-as h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
}

.info-about-as p {
	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}

.info-about-as ul {
	margin-top: 70px;
	padding: 0;
	padding-left: 38px;
	font-family: "gilroyextrabold", Arial, sans-serif;
	position: relative;
}


.info-about-as li:before {
	content: url("../img/list-button.svg");

	position: absolute;
	left: 0;
}

.contacts {
	margin: 0;
	padding: 0;

	width: 561px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.contacts h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px
}

.contacts p {

	font-family: "Open sans lighter", Arial, sans-serif;
	opacity: 0.6;
}

/*footer*/

.page-footer {
	margin: 0 auto;
	padding: 0;

	background-color: rgb(70,70,70);
	color: #ffffff;
}

.page-footer .wrapper {
	margin: 0 auto;
	margin-top: 90px;
	padding: 64px 0 95px 0;

	width: 1160px;
	display: flex;
	flex-wrap: wrap;
}

.page-footer .wrapper-logo {
	width: 300px;
	margin-right: 55px;

	display: flex;
	flex-direction: column;

	position: relative;
} 

.page-footer .wrapper-logo p {
	margin-top: 22px;
}

.page-footer .wrapper-logo::after {
	content: url("../img/yellow-line.svg");

	position: absolute;
	top: 160px;
	left: 0;


}

.page-footer .wrapper-site-nav {
	margin-top: 54px;
	width: 440px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-nav {
	margin-bottom: 50px;

	display: flex;
	justify-content: space-between;
}

.footer-nav li {
	margin-right: 33px;
}

.social-btn {
	display: flex;
	justify-content: space-between;
}

.social-btn li {
	margin-right: 20px;
}

.social-btn li:first-child a{
	width: 32px;
	height: 32px;

	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-btn li:nth-child(2) a {
	width: 32px;
	height: 32px;

	background-image: url("../img/instagram.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-btn li:last-child a {
	width: 32px;
	height: 32px;

	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-btn li:first-child a:hover,
.social-btn li:first-child a:focus {
	background-image: url("../img/fb-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-btn li:nth-child(2) a:hover,
.social-btn li:first-child a:focus {
	background-image: url("../img/instagram-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.social-btn li:last-child a:hover,
.social-btn li:first-child a:focus {
	background-image: url("../img/twitter-hover.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-user-navigation {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	width: 340px;
}

.footer-user-navigation ul{
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.footer-login::before {
	content: url("../img/user-footer.svg");

	position: absolute;
	right: 60px;
}

.footer-compare::before {
	content: url("../img/compare-footer.svg");

	position: absolute;
	right: 82px;
}

.footer-basket::before {
	content: url("../img/cart-footer.svg");

	position: absolute;
	right: 73px;
}
.footer-user-navigation{
	position: relative;
}

.footer-user-navigation li {
	margin-left: 65px;
	position: relative;
}

.footer-user-navigation li:last-child {
	margin-right: -50px;
}

.footer-user-navigation p {
	margin-top: -50px;
	margin-right: -50px;
}

.footer-user-navigation .html-academy-link::before {
	content: url("../img/logo-html.svg");

	position: absolute;
	right: -50px;
	top: 160px;
}


.footer-user-navigation,
.footer-nav,
.social-btn {
	list-style: none;
}

.footer-user-navigation a,
.footer-nav a,
.social-btn a {
	color: #ffffff;
}

.page-footer a:hover,
.page-footer a:focus {
	opacity: 0.6;
}

.page-footer a:active {
	opacity: 0.3;
}

.footer-nav {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2em;
}

.page-footer p {
	font-family: "Open sans lighter", Arial, sans-serif;
	font-weight: lighter;
}

	
/*Стили для страници каталога*/

.wrapper-nav-catalog .user-navigation li:nth-child(2) {
	margin-right: 15px;
}

.wrapper-nav-catalog .user-navigation li:nth-child(3) {
	margin-right: 87px;
	opacity: 0.3;
}
.wrapper-nav-catalog .user-navigation li:nth-child(4) {
	margin-right: 61px;
}

.wrapper-nav-catalog .user-navigation li:nth-child(2)::before {
	content: url("../img/user.svg");
	position: absolute;
	right: 145px;
}

.page-title {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
}

.breadcrumbs a {
	color: #000000;
}

.container ul {
	list-style: none;
}

.catalog-nav {
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;

	display: flex;
	flex-direction: column;

	width: 1040px;	
}

.catalog-nav ul {
	padding: 0;
	margin: 0;
	margin-top: -5px;
	margin-bottom: 50px;

	display: flex;
}


.breadcrumbs li {
	margin-right: 40px;

	font-family: "Open sans lighter", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	opacity: 0.3;

	position: relative;
}

.breadcrumbs li:first-child::before {
	content: url("../img/nav-arrow.svg");

	width: 4px;
	height: 7px;

	position: absolute;
	left: 73px;
}

.breadcrumbs li:nth-child(2)::before {
	content: url("../img/nav-arrow.svg");

	width: 4px;
	height: 7px;

	position: absolute;
	left: 125px;
}

.breadcrumbs li:hover,
.breadcrumbs li:focus {
	opacity: 0.6;
}

.breadcrumbs li:active {
	opacity: 0.1;
}

.filters-catalog-wrapper {
	display: flex;


}

.filters  {
	margin: 0;
	padding: 0;

	background-color: rgb(238, 238, 238);
	width: 468px;
}


.filters-caption-wrapper {
	padding-top: 10px;
	padding-bottom: 10px;

	background-color: rgb(220, 220, 220);
}

.filters h2 {
	margin-left: 155px;
	padding-right: 194px;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
}


.filters label {
	font-family: "Open sans lighter", Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
}

.filters .form-wrapper {
	margin-left: 155px;
	margin-top: 70px;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.filters .form-wrapper b{
	width: 230px;

	display: inline-block;

	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-style: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
	font-weight: bold;

	position: relative;
}

.form-wrapper b:first-child {
	margin-bottom: 27px;
	margin-top: 20px;
}

.form-wrapper b:first-child::before {
	content: url("../img/filter-black-line.svg");

	position: absolute;	
	bottom: 30px;
}

.form-wrapper b:nth-child(3) {
	margin-top: 57px;
	margin-bottom: 17px;
}


.form-wrapper b:nth-child(3)::before {
	content: url("../img/filter-black-line.svg");

	position: absolute;	
	bottom: 30px;
}

.form-wrapper b:nth-of-type(3) {
	margin-top: 43px;
	margin-bottom: 16px;
}

.form-wrapper b:nth-of-type(3)::before {
	content: url("../img/filter-black-line.svg");

	position: absolute;	
	bottom: 30px;
}

.filters .form-wrapper label {
	width: 230px;
	display: flex;

	font-family: inherit;
	font-weight: lighter;
}

.form-wrapper input[type="checkbox"],
.form-wrapper input[type="radio"] {
	display: none;
}

.form-wrapper span {
	margin-top: 8px;
	margin-right: 15px;

	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	display: inline-block;
	width: 27px;
	height: 23px;

	vertical-align: middle;
	cursor:pointer;
}

input[type="checkbox"]:checked ~ span{
	margin-top: 8px;
	margin-right: 15px;

	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
	display: inline-block;
	width: 27px;
	height: 23px;

	vertical-align: middle;
	cursor:pointer;
}

.form-wrapper i {
	margin-top: 8px;
	margin-right: 15px;

	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	display: inline-block;
	width: 25px;
	height: 25px;

	vertical-align: middle;
	cursor:pointer;
}

input[type="radio"]:checked ~ i {
	margin-top: 8px;
	margin-right: 15px;

	background-image: url(../img/radio-on.svg);
	background-repeat: no-repeat;
	display: inline-block;
	width: 25px;
	height: 25px;

	vertical-align: middle;
	cursor:pointer;
}


.form-wrapper input:last-of-type {
	margin-top: 25px;
}


/* Каталог */


.catalog-sub-menu {
	display: none;
}

.catalog-sorting {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 9px;
	padding-left: 74px;

	width: 924px;

	display: flex;

	background-color: rgb(235, 235, 235);
}

.catalog-sorting .sorting {
	margin: 0;
	padding: 0;
	padding-top: 16px;
	padding-left: 51px;

	display: flex;
}

.catalog-sorting .sorting  li {
	opacity: 0.3;
	font-size: 14px;
	line-height: 18px;
}

.catalog-sorting .sorting  li:first-child {
	padding-right: 20px;
}

.catalog-sorting .sorting  li:nth-child(2) {
	padding-right: 35px;
}

.catalog-list {
	margin: 0;
	padding: 0;
	margin-left: 71px;
	margin-top: 71px;
	width: 800px;

	display: flex;
	flex-wrap: wrap;
}

.catalog-list article {
	margin-right: 40px;
}

.catalog-list .item-label {
	margin: 0;
	margin-top: 23px;
	margin-bottom: 45px;
	padding: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
}

.catalog h2 {
	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.catalog h1 {
	margin: 0;
	padding: 0;

	font-family: "gilroyextrabold", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0,01em;
}

.catalog li {
	list-style: none;
	color: #000000;
}


.catalog a {
	color: #000000;
}


.catalog-sorting .sorting a:active {
	opacity: none;
}

.catalog span {
	font-family: "gilroylight", "Arial", sans-serif
	font-size: 16px;
	line-height: 24px;
	opacity: 0.6;
}

.pagination-list {
	margin: 0;
	margin-left: 71px;
	margin-bottom: 77px;
	padding: 0;
	padding-top: 24px;
	padding-bottom: 24px;

	width: 760px;

	background-color: rgb(235, 235, 235);

	display: flex;

	font-family: "gilroyextrabold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.pagination-back,
.pagination-forward {
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.pagination-back a,
.pagination-forward a {
	padding: 24px 30px;
}

	
.pagination-list .pagination-item {
	opacity: 0.3;
}

.pagination-list li:first-child{
	margin-right: auto;
}

.pagination-list li:nth-child(3),
.pagination-list li:nth-child(2) {
	margin-right: 32px;
}

.pagination-list li:nth-child(4) {
	margin-right: 230px;
}


.pagination-back a:hover,
.pagination-back a:focus,
.pagination-forward a:hover,
.pagination-forward a:focus {
	background-color: rgb(217, 217, 217);
}

.pagination-back a:active,
.pagination-forward a:active {
	background-color: rgb(217, 217, 217);
	opacity: 0.3;
}

.pagination-list .pagination-item:active {
	opacity: 1;
}

.page-footer .wrapper{
	margin: 0 auto;
}

.user-nav-list {
	margin: 0;
	padding: 0;


	display: flex;
	flex-wrap: nowrap;
}

.user-nav-list li {
	margin-left: 0;
}

.user-nav-list li:first-child {
	margin-right: 20px;
	margin-left: -130px;
}

.user-nav-list li:nth-child(2) {
	margin-right: 62px;
}
.user-nav-list li:nth-child(3) {
	margin-right: 63px;
}

.log-out {
	opacity: 0.3;
}

.user-profile::before {
	content: url("../img/user-footer.svg");

	position: absolute;
	right: 145px;
}
